.mobileMenu {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 140px;
	padding-bottom: 15px;
	background-color: $main-light-cl;
	opacity: 0;
	pointer-events: none;
	transition: opacity $transition;

	&:global(.active) {
		opacity: 1;
		pointer-events: all;
	}

	@include desktop {
		display: none;
	}
}

.contact {
	display: block;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;

	transition: color $transition;

	&:hover {
		color: $accent-cl;
	}
}
