.header {
	position: relative;
	z-index: 1000;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $secondary-text-cl;
}

.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}
.logo {
	width: 90px;
	height: 35px;
}
.logo__text {
	font-size: 26px;
	font-weight: 700;
	line-height: 1.1;

	transition: color $transition;

	.logo__wrapper:hover & {
		color: $accent-cl;
	}
}

.contact {
	display: none;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;

	transition: color $transition;

	@include desktop {
		display: flex;
		gap: 16px;
		align-items: center;
	}

	&:hover {
		color: $accent-cl;
	}
}

.contactIcon {
	height: 27px;
	color: $main-text-cl;
	transition: color $transition;

	.contact:hover & {
		color: $accent-cl;
	}
}

.menuIcon {
	height: 40px;
	width: 40px;
	color: $main-text-cl;

	@include desktop {
		display: none;
	}
}
