.list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
	column-gap: 29px;
	justify-content: center;
}
.item {
	@include tablet {
		flex-basis: calc((100% - 29px * 2) / 3);
	}
	@include desktop {
		flex-basis: calc((100% - 29px * 3) / 4);
	}
}
